/* Profile */
.profie{
    background-image: url('back.png');                  /*ภาพพื้นหลัง*/
    width: 100%;                                        /*กำหนดความกว้างภาพพื้นหลัง*/
    background-size: cover;                             /*กำหนดอัตราส่วนภาพให้เต็มพื้นที่*/
    background-position: center;                        /*จัดตำแหน่งพื้นหลังให้อยู่ตรงกลาง*/
    background-repeat: no-repeat;                       /*ภาพจะไม่โดนซ้อนทับ*/
    color: white;                                     /*กำหนดตัวอักษรสีขาว*/
    height: 600px;                                      /*ความสูงพื้นหลัง*/
    display: flex;                                      /*จัดแต่งรูปแบบการแสดงผลเป็นแบบ flex box*/
    justify-content: center;                            /*จัดรูปให้อยู่กึ่งกลาง*/
    align-items: center;                                /*จัดรูปแบบข้างในให้อยู่กึ่งกลาง*/
    }
.profie-info{
text-align: center;                                     /*จัดรูปแบบตัวอักษรให้อยู่ตรงกลาง*/
font-size: 32px;                                        /*กำหนดขนาดตัวอักษร*/
}
.profie-info img 
{
width: 300px;                                           /*กำหนดความกว้างภาพ*/
border-radius: 100%;                                    /*กำหนดกรอบภาพเป็นวงกลม*/

}
.profie-info h1{
text-shadow: 5px 5px 10px black;                    
padding: 2px;
}
.profie-info p{
text-shadow: 5px 5px px black;
padding: 2px;
}
.text-box{

padding: 5px 5px;
text-align: center;
color: white;
background-color: teal;
border: none;
border-radius: 15px;
}   

/* mian body */
main{
display: grid;
grid-template-columns: 1fr 1fr; 
width: 100%; 
background-size: cover;
background-position: center;
background-repeat: no-repeat; 
color: black;
}
main div{
padding: 30px;
}
main div p {
margin-top:   30px;
}

/* Picture */
div.gallery {  
margin: 5px;
border: 1px solid #ccc;
justify-content: center; 
align-items: center;
width: 180px;
object-fit: cover;
}
div.gallery:hover {
border: 1px solid #777;
}
div.gallery img {
width: 100%;
height: auto;
object-fit: cover;
}
div.desc {
padding: 10px;
text-align: center;
}

.down{
background-image: url('work9.jpg');
width: 100%; 
background-size: cover;
background-position: center;
background-repeat: no-repeat;
color: white;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
}

